.gridButton {

  border: 2px solid white;

  width : 50px;

  height: 50px;

  background-color: transparent;

  padding: 0%;

}

.noHit {

  width : 50px;

  height: 50px;

  border: 2px solid red;

  background-color: rgba(255, 0, 0, 0.1);

  padding: 0%;

}

.hit {

  width : 50px;

  height: 50px;

  border: 4px solid lime;

  background-color: rgba(0, 255, 0, 0.1);

  padding: 0%;

}

#game {

  width: auto;

}

#grid {

  position: absolute;

  z-index : 1000;

  width : 500px;

  float: left;

}

#turnHistory {

  background-color: darkslategrey;

  height: 500px;

  width : 200px;

  overflow-y: scroll;

  overflow-x: hidden;

}